@import '../../../styles/settings.scss';

.root {
  font-size: $main-font-size;

  .container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    color: $link-color;
    text-decoration: none;
    transition: all 1s;
    margin: clamp(1rem, 1vw, 2rem);

    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }

    &:active {
      color: $link-hover;
      text-decoration: underline;
    }
  }

  .active {
    color: $link-active;

    &:hover {
      color: $link-hover;
    }
  }
}
