// colors
$main-color: #ffffff;
$secondary-color: #000000;

// fonts
$main-font: Roboto, Arial, Helvetica, sans-serif;
$secondary-font: Roboto, Arial, Helvetica, sans-serif;

// font sizes
$main-font-size: clamp(1.5rem, 1.5vw, 3rem);
$secondary-font-size: clamp(1rem, 1vw, 2rem);
